@charset "UTF-8";
/* CSS Document */

* {
   box-sizing: border-box; 
}



@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        background-color: #00aeef;
        border: 0.5rem solid #fff200;
        height: 100vh;
        
    }
    main{
        width:100%;
    }
   
    header{
        width:100%;
      
    }
    .logo{
        margin:1rem auto;
    }
    .log-in{
        width:25%;
        margin:1rem auto;
        margin-top:5rem;  
    }
    h2{
        color:white;
        text-align: center;
        font-weight: bold;
        border-bottom:0.4rem solid white;
        margin-top:1rem;
        
    }
    input{
        border-radius: 0.4rem;
        border: none;
        width:100%;
        height:1.6rem;
        
    }
    .login-table{
        margin:0 1.5rem;
    }
    #submit{
        background-color: red;
        color:white;
        font-size:1.5rem;
        padding:0.2rem;
        padding-left:2rem;
        padding-right:2rem;
        border-radius: 1rem;
        margin:1.8rem auto;
        border:0.3rem white solid;
        font-weight: bold;
        
    }
    .buttonSection{
        text-align: center;
    }
    .resetPassword{
        font-style: italic;
        color:black;
        border-bottom: 1px solid black;
    }
    .sign-up{
        color:#fff200
    }

    /* form page style */
    .sign-up{
        width: 50%;
        margin:1rem auto;
        margin-top:4rem;
        
    }
    .signup-table1{
        display:flex;
        justify-content: space-between;
        margin:0.5rem 1rem;
    }

    #first-name{
        margin-right:0.2rem;
    }
    #last-name{
        margin-left:0.2rem;
        
    }
    .signup-table2{
        
        margin:0 1rem;
       
    }
    .signup-table3{
    
        margin:0 1rem;
    }
    .signup-table4{
    
        margin:0 1rem;
    }
    .birth{
        margin:-0.6rem 1rem;
        
    }
    select{
        width:6rem;
        height:1.6rem;
        border:none;
        border-radius: 0.4rem;
    }
    .signup-table5{
        display:flex;
        justify-content: space-between;
        margin:0.5rem 1rem;
        
        
    }

    #month{
        color:rgb(0, 0, 0);
        margin-right:0.3rem;

    }
    #date{
        color:rgb(0, 0, 0);
        margin-right:0.3rem;
    }
    #year{
        color:rgb(0, 0, 0);
        margin-right:0.3rem;
    }
    .check-items{
        margin: 0 1rem;
        
        
    }
    #acceptRules, #acceptOther{
        color:#ffffff;
        font-size:small;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       
    }
   
    .consent{
        font-size:small;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
    }
    .chkRules{
        display: flex;
        
       
       
    }
    [type='checkbox']{
        margin-left: -9rem;
        margin-top:-0.3rem;
        transform: scale(0.7);
    }
    .check-items lable{
        margin-left: -9rem;
    }
   
    .chkOther{
        display: flex;
        
    }
   
    h3{
        text-align: center;
    }
    .legal{
        background-color: white;
        padding:0.5rem;
    }
    .legal p{
        font-size: small;
        margin: 0 1rem;
    }

    /* home-page style */
    .logo-home{
    transform: scale(0.7);
    }
    header{
        background-color: #00aeef;
        height: 70px;
        display: flex;
        justify-content: space-between;
    }
    .nav{
        margin-top: 2rem;
    }
    .nav a{
        color:white;
        margin-top:2rem;
        padding-right:0.5rem;
    }
    a:hover{
        color:#fff200;
        border-bottom: 2px solid #fff200;
        
    }
    .gray-1{
        background-color: lightgray;
        min-height: 15.0rem;
        margin-bottom:2.0rem ;
    }
}